:root {
    --primary: #e5486d;
    --red: #d72f59;
    --bg: #f2eeee;
    --bg-main: #fbfbfb;
    --white: #ffffff;
    --dark: #111111;
    --gray: #6b6b6b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
    background: var(--bg);
}

.app {
    display: flex;
    height: 100vh;
    padding: 2vh 1vw;
    gap: 1vw;
}

.aside{
    background-color: none;
    width: 100%;
    max-width: 22.5%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.navigation-panel{
    /* background-color: wheat; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: none;
}

.logo {
    background: var(--dark);
    color: white;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation-panel nav {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* background-color: #111111; */
    gap: 2vh;
}

.nav-link {
    background-color: var(--bg-main);
    cursor: pointer;
    width: 5vh;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.nav-link img{
    width: 60%;
    height: 60%;
    object-fit: cover;
}

.nav-link.active {
    background-color: var(--red);
    font-weight: 600;
    scale: 1.2;
}

.bottom-links{
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3vh;
}

.notification{
    position: relative;
}

.notification::after{
    content: '';
    position: absolute;
    width: 1vh;
    height: 1vh;
    background-color: var(--white);
    border-radius: 50%;
    border: 3px solid var(--red);
    top: 0;
    right: 0;
}

.navigate-content{
    /* background-color: yellow; */
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding:0 1vw 0 1vw;
}

.navigate-header{
    width: 100%;
    height: fit-content;
    max-height: 6vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: #6b6b6b; */
}

.drop-icon{
    width: 3vh;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
}

.drop-icon img{
    width: 60%;
    height: 60%;
    object-fit: cover;
    opacity: 0.5;
}

.list-with-icon{
    /* background-color: #6b6b6b; */
    width: 100%;
    height: fit-content;
    
}

.list-with-icon div{
    display: flex;
    align-items: center;
    gap: 0.4vw;
    padding: 1vh 1vw;
    cursor: pointer;
    font-size: 0.8em;
    opacity: 0.7;
}

.list-with-icon div:hover{
    background-color: var(--bg-main);
    border-radius: 1vh;
}

.list-with-icon div img{
    width: 2vh;
    height: 2vh;
    object-fit: cover;
}

ul{
    width: 100%;
    height: fit-content;
    /* background-color: #e5486d; */
    list-style: none;
    padding: 0 0 0 1vw ;
    margin: 2vh 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;

}

li{
    /* background-color: #fbfbfb; */
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
}

.common-lists li.parent-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: none;
}

.parent-list-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.parent-list-header button{
    background-color: var(--white);
    border: none;
    width: 3vh;
    /* overflow: hidden; */
    height: 3vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent-list-header button img{
    width: auto;
    height: 55%;
    /* background-color: #111111; */
    object-fit: contain;
    opacity: 0.8;
    filter: invert(1);
}

.parents-childrens{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0 0 0 1vw ;
    gap: 0;
}

.parents-childrens li{
    position: relative;
    height: fit-content;
    padding: 0.6vh 0;
}

.parents-childrens li::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1vw;
    border-left: 2px solid #a2a5b5;
    width: 1px;
    height: 100%;
}

.parents-childrens li::after {
    content: "";
    position: absolute;
    border-top: 2px solid #a2a5b5;
    top: 50%;
    left: -1vw;
    width: 0.8vw;
  }

.expanded-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}

.expandable-list .button{
    font-weight: 600;
    width: 100%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1vh 0 0 0;
    padding:0.4vh 0;
    border: none;
}

.expandable-list .button span {
    font-weight: 600;
}

.expandable-list .button img{
    width: auto;
    height: 55%;
    max-height: 2vh;
    /* background-color: #111111; */
    object-fit: contain;
    opacity: 0.8;
    filter: invert(0);
}



/* Main */
.main {
    flex: 1;
    /* background-color: red; */
    width: 100%;
    height: 100%;
}

/* Topbar */
.topbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    /* background-color: #111111; */
}

.search-bar{
    display: flex;
    align-items: center;
    height: 4vh;
    width: 100%;
}

.search-icon{
    width: 100%;
    height: 100%;
    width: 4vh;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50% 0 0 50%;
    background: var(--white);
}

.search-icon img{
    width: 60%;
    height: 60%;
    object-fit: cover;
    opacity: 0.5;
}

.topbar input {
    width: 300px;
    height: 4vh;
    outline: none;
    padding:0 1vw 0 0;
    border-radius: 0 50px 50px 0;
    border: none;
}

.header-profile{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: none;
    height: 4vh;
    min-width: 8vh;
    width: fit-content;
    border-radius: 2vh;
    background-color: var(--white);
}

.header-profile .icon{
    width: 100%;
    height: 100%;
    width: 3.4vh;
    height: 3.4vh;
    display: flex;
    padding: 0.2vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
}

.header-profile .icon img{
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.header-profile .img{
    width: 100%;
    height: 100%;
    width: 3.4vh;
    height: 3.4vh;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
}

.header-profile .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.red-btn {
    background: var(--primary);
    color: white;
    aspect-ratio: 1 / 1;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.8vw;
    border-radius: 50%;
    cursor: pointer;
}

.red-btn img{
    width: 50%;
    height: 50%;
    object-fit: cover;
}


.main_section{
    padding: 3vh 1.8vw;
    height: calc(100% - 7vh);
    overflow-y: auto;
    background-color: var(--bg-main);
    border-radius: 4vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.report-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* background-color: #b12323; */
    height: fit-content;
    min-height: 4vh;
}

.header-users{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
    padding: 0;
    /* background-color: #f2eeee; */
}

.add-more-btn{
    background-color: var(--white);
    border: none;
    width: 4vh;
    height: 4vh;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #0000002f;
}

.add-more-btn img{
    height: 50%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    filter: invert(1);
}

.header-users ul.user-list-tab{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 1vw;
    list-style: none;
    /* background-color: #bc98a1; */
    padding: 0;
    margin: 0;
}

.user-tab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.2vw;
    background-color: var(--white);
    padding: 0.5vh 0.3vw;
    border-radius: 2vh;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.8em;
    border: 1px solid #0000002f;
}

.user-tab img{
    background-color: var(--white);
    border-radius: 50%;
    width: 3vh;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.8em;
    border: 1px solid var(--bg);
}

.header-users button.logo-button{
    background: var(--white);
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #0000002f;
}

.header-users button.logo-button div{
    height: 80%;
    aspect-ratio: 1 / 1;
    background-color: var(--dark);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-weight: 700;
    font-size: 1.1em;
}

.headers-actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
    padding: 0;
}

.action-btn{
    background-color: var(--white);
    border: none;
    width: 4vh;
    height: 4vh;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #0000002f;
}

.action-btn img{
    height: 50%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    filter: invert(0);
}

.reports-metadata-section{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: turquoise; */
}

.reports-metadata-section h2{
    margin: 0;
    font-size: 1.7rem;
    color: var(--dark);
    opacity: 0.5;
}

.switch {
    position: relative;
    display: inline-block;
    width: 2.8vw;
    height: 3vh;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    border-radius: 2vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    border-radius: 50%;
    height: 2.6vh;
    width: 2.6vh;
    left: 4%;
    bottom: 6%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--dark);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--dark);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(1.25vw);
    -ms-transform: translateX(1.25vw);
    transform: translateX(1.25vw);
  }

  .date-select{
    height: 4vh;
    border-radius: 2vh;
    border: none;
    padding: 0 0.5vw;
    outline: none;
    background-color: var(--bg);
  }

  .revenue-section{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
  }

  .total-revenue-container{
    background-color: none;
    width: fit-content;
    max-height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.2vh;
  }

  .total-revenue-container h4{
    margin: 0;
    font-size: 1rem;
    color: var(--dark);
    font-weight: 600;
  }

  .total-revenue{
    display: flex;
    margin: 0;
    justify-content: flex-start;
    align-items: center;
    gap: 0.4vw;
  }

  .total-revenue .red-tag{
    background-color: var(--red);
    color: var(--white);
    padding: 0.3vh 0.6vw;
    font-size: 0.7rem;
    border-radius: 1vw;
  }

  .total-revenue .red-tag img{
    width: 60%;
    height: 60%;
    max-width: 0.5rem;
    object-fit: cover;
    filter: invert(1);
  }

    .total-revenue h3{
        margin: 0;
        font-size: 1.7rem;
        color: var(--dark);
        opacity:1;
        font-weight: 700;
    }

    .total-revenue h3 span{
        opacity: 0.5;
    }

    .revenue-comparison{
        margin: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .revenue-comparison p{
        margin: 0;
        font-size: 0.8rem;
        color: var(--dark);
    }

    .revenue-comparison select{
        height: 3vh;
        border: none;
        background-color: transparent;
        padding: 0 0.5vw;
        outline: none;
    }
