:root {
    --primary: #e5486d;
    --red: #d72f59;
    --bg: #f2eeee;
    --bg-main: #fbfbfb;
    --white: #ffffff;
    --dark: #111111;
    --gray: #6b6b6b;
}

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
    background: var(--bg);
}

.app {
    display: flex;
    height: 100vh;
    padding: 2vh 1vw;
    gap: 1vw;
}

.aside{
    background-color: none;
    width: 100%;
    max-width: 22.5%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.navigation-panel{
    /* background-color: wheat; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: none;
}

.logo {
    background: var(--dark);
    color: white;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation-panel nav {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* background-color: #111111; */
    gap: 2vh;
}

.nav-link {
    background-color: var(--bg-main);
    cursor: pointer;
    width: 5vh;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.nav-link img{
    width: 60%;
    height: 60%;
    object-fit: cover;
}

.nav-link.active {
    background-color: var(--red);
    font-weight: 600;
    scale: 1.2;
}

.bottom-links{
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3vh;
}

.notification{
    position: relative;
}

.notification::after{
    content: '';
    position: absolute;
    width: 1vh;
    height: 1vh;
    background-color: var(--white);
    border-radius: 50%;
    border: 3px solid var(--red);
    top: 0;
    right: 0;
}

.navigate-content{
    /* background-color: yellow; */
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding:0 1vw 0 1vw;
}

.navigate-header{
    width: 100%;
    height: fit-content;
    max-height: 6vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: #6b6b6b; */
}

.drop-icon{
    width: 3vh;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
}

.drop-icon img{
    width: 60%;
    height: 60%;
    object-fit: cover;
    opacity: 0.5;
}

.list-with-icon{
    /* background-color: #6b6b6b; */
    width: 100%;
    height: fit-content;
    
}

.list-with-icon div{
    display: flex;
    align-items: center;
    gap: 0.4vw;
    padding: 1vh 1vw;
    cursor: pointer;
    font-size: 0.8em;
    opacity: 0.7;
}

.list-with-icon div:hover{
    background-color: var(--bg-main);
    border-radius: 1vh;
}

.list-with-icon div img{
    width: 2vh;
    height: 2vh;
    object-fit: cover;
}

/* Main */
.main {
    flex: 1;
    /* background-color: red; */
    width: 100%;
    height: 100%;
}

/* Topbar */
.topbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    /* background-color: #111111; */
}

.search-bar{
    display: flex;
    align-items: center;
    height: 4vh;
    width: 100%;
}

.search-icon{
    width: 100%;
    height: 100%;
    width: 4vh;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50% 0 0 50%;
    background: var(--white);
}

.search-icon img{
    width: 60%;
    height: 60%;
    object-fit: cover;
    opacity: 0.5;
}

.topbar input {
    width: 300px;
    height: 4vh;
    outline: none;
    padding:0 1vw 0 0;
    border-radius: 0 50px 50px 0;
    border: none;
}

.header-profile{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: none;
    height: 4vh;
    min-width: 8vh;
    width: fit-content;
    border-radius: 2vh;
    background-color: var(--white);
}

.header-profile .icon{
    width: 100%;
    height: 100%;
    width: 3.4vh;
    height: 3.4vh;
    display: flex;
    padding: 0.2vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
}

.header-profile .icon img{
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.header-profile .img{
    width: 100%;
    height: 100%;
    width: 3.4vh;
    height: 3.4vh;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
}

.header-profile .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.red-btn {
    background: var(--primary);
    color: white;
    aspect-ratio: 1 / 1;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.8vw;
    border-radius: 50%;
    cursor: pointer;
}

.red-btn img{
    width: 50%;
    height: 50%;
    object-fit: cover;
}


.main_section{
    padding: 0 1vw;
    height: 100%;
    overflow-y: auto;
    background-color: var(--bg-main);
    border-radius: 4vh;
}

/* Stats */
.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background: var(--white);
    padding: 20px;
    border-radius: 16px;
}

.card.big h1 {
    font-size: 32px;
}

.card.dark {
    background: var(--dark);
    color: white;
}

.badge {
    display: inline-block;
    margin-top: 8px;
    padding: 4px 10px;
    border-radius: 999px;
    font-size: 12px;
}

.badge.up {
    background: #ffe1e8;
    color: var(--primary);
}

/* Table */
.table-card {
    margin-top: 30px;
    background: var(--white);
    padding: 20px;
    border-radius: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px 0;
    text-align: left;
}

th {
    color: var(--gray);
    font-weight: 500;
}
